* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* GLOBAL */

body {
    background-image: url(images/backgroung-image.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    width: 60%;
    height: auto;
    margin-top: 20px;
    object-fit: contain;
}

#container {
    display: flex;
    flex-direction: column;
    object-fit: contain;
    align-items: center;
}

#page {
    display: flex;
    flex-direction: column;
}

/* NAV */

.nav-style {
    background-color: #fffff0;
    display: flex;
    width: 55%;
    padding-bottom: 0;
}

.button-games {
    background-color: #0f5ef0;
    border-radius: 6px 6px 0 0;
    border: solid 1px #fffff0;
    padding: 0 8px 0 8px;
}

.button-games:hover {
    background-color: #fffff0;
    border: solid 1px #0f5ef0;
    color: #0f5ef0;
}

.button-console {
    background-color: #0f5ef0;
    border-radius: 6px 6px 0 0;
    border: solid 1px #fffff0;
    color: #fffff0 !important;
    padding: 0 8px 0 8px;
}

.button-console:hover {
    color: #fffff0;
}

.color-whrite1 {
    color: #fffff0;
    font-size: 14px;
}

.color-whrite1:hover {
    color: #0f5ef0;
}

.color-whrite2 {
    color: #fffff0;
    font-size: 14px;
}

.color-whrite2:hover {
    color: #fffff0;
}

.custom-li a {
    font-size: 14px;
}

.custom-li:hover a {
    color: #0f5ef0 !important;
    font-size: 14px;
}

.custom-li:hover {
    background-color: #fffff0 !important;
}

.custom-ul li:last-child {
    border-radius: 0 0 5px 5px;
}

.new-li {
    background-color: #0f5ef0;
    color: #fffff0;
    padding: 5px 5px 5px 15px;
    font-weight: bold;
    font-size: 14px;
}

.new-li:hover {
    background-color: #fffff0;
    color: #0f5ef0;
}

.line-solo {
    margin-top: 0;
    border: solid 1px black;
    width: 55%;
}

/* MENU PRINCIPAL */
.main-games {
    width: 60%;
}

.render-card {
    padding: 0;
}

.jeu_titre {
    color: #414040;
    font-size: 17px;
    margin: 15px 12px 0 12px;
}

.jeu_prix {
    color: #414040;
    display: flex;
    font-size: 15px;
    justify-content: start;
    margin: 12px;
}

.button-detail {
    background-color: #0f5ef0;
    border-radius: 5px;
    color: #fffff0;
    font-size: 16px;
    margin: 0 10px 10px 10px;
    padding: 5px 0 5px 0;
    text-align: center;
    width: 50%;
}

.button-detail:hover {
    background-color: #fffff0;
    border: solid 1px #0f5ef0;
    border-radius: 5px;
    color: #0f5ef0;
}

/* DETAIL D'UN JEU */
.jeu_image_detail {
    object-fit: contain;
    width: 100%;
}

#detail-container {
    padding: 15px;
}

.detail_titre {
    color: #0f5ef0;
    font-size: 16px;
}

.sort_console {
    background-color: #0f5ef0;
    border-radius: 10px;
    color: #fffff0;
    display: inline;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 5px 2px 5px;
}

.descrip_detail {
    color: #414040;
    font-size: 14px;
}

.date_sortie {
    color: #5f5e5e;
    font-size: 12px;
    margin-top: 2px;
}

.chiffres_date {
    color: #0f5ef0;
    font-size: 14px;
    font-weight: bold;
}

.age_limit {
    font-size: 14px;
    margin: 10px 0 0 0;
    text-align: center;
}

.avis_precis {
    font-size: 14px;
    padding: 0 25px 0 25px;
}

.hauteur_justify {
    margin-top: 3px;
}

.color_note {
    color: #0f5ef0;
    font-weight: bold;
}